.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

#the script generates an assets folder
assets/

#ignore wordpress dump
wordpress_dump.xml
